$base-padding: 80px;
$base-width: 100%;

*,
::after,
::before {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

img {
  max-width: 100%;  
  object-fit: cover;
  object-position: 50% 50%;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;  
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #2A2C1F;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  flex-grow: 1;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: $base-width;
  width: 1440px;
  padding: 0 $base-padding;
  margin: 0 auto;
  z-index: 2;
}

.btn {
  padding: 9px 21px;
  background-color: #FFFFFF;
  border: 1px solid #E7E8E3;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  cursor: pointer;
  &-danger {
    background-color: #CF6F49;
    color: #ffffff;
  }
}

.search {
  position: relative;
  .input-icon {
    position: relative;
    display: flex;
    align-items: center;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s;
    z-index: 1;
    img {
      margin-right: 16px;
    }
  }
  .search__input {
    position: relative;
    background-color: transparent;
    border: 1px solid #E7E8E3;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    padding: 9px 16px;
    font-size: 20px;
    z-index: 2;
  }
  button {
    font-size: 20px;
  }
}

.hamburger {
  position: relative;
  width: 30px;
  height: 20px;
  transition: all 0.5s;
  visibility: hidden;
  opacity: 0;
  span {
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 3px;
    top: 9px;
    transition: all 0.1s;
  }
  &::after, &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #000;
    transition: all 0.5s;
  }
  &::after {
    top: 0;
  }
  &::before {
    bottom: 0;
  }
}

.header {
  position: relative;
  top: -41px;
  transition: all 0.5s;
  &-message {
    position: relative;
    display: flex;
    top: -41px;
    justify-content: center;
    padding: 10px 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: #939878;
    transition: all 0.5s;
    &__close {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%) translateX(-40px);
      font-size: 26px;
      cursor: pointer;
    }
  }
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    z-index: 4;
    &__menu {
      display: flex;
      align-items: center;
    }
  }
}

.active {
  top: 0;
}

.top-menu {
  display: flex;
  align-items: center;
  &__item {
    &.has-submenu {
      position: relative;
      .top-submenu {
        position: absolute;
        top: 30px;
        background-color: #fff;
        border: 1px solid #e7e8e3;
        box-shadow: 0px 2px 4px rgb(0 0 0 / 8%);
        border-radius: 6px;
        padding: 10px 0;
        width: max-content;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s;
        li {
          padding: 5px 20px;
          transition: all 0.5s;
          &:hover {
            background-color: #F5F5F2;
          }
        }
      }
    }
    &:not(:last-child) {
      margin-right: 32px;
    }
    &:nth-child(2) {
      position: relative;
      a.need-arrow {
        position: relative;
        padding-right: 11px;
        &::after {
          position: absolute;
          content: '';
          right: -4px;
          top: 50%;
          transform: translateY(-60%) rotate(45deg);
          width: 6px;
          height: 6px;
          border-right: 1px solid #000000;
          border-bottom: 1px solid #000000;
        }
      }
    }
    &-search {
      img {
        margin-right: 4px;
      }
      display: flex;
      align-items: center;
    }
  }
}

.top-buttons {
  display: flex;
  .btn:nth-child(1) {
    img {
      margin-right: 4px;
    }
    display: flex;
    margin-right: 16px;
    margin-left: 8px + 16px;
  }
}

.links {
  padding: 9px 0 9px 0;
}

.link {
  position: relative;
  margin-left: 24px;
  padding-right: 11px;
  &::after {
    position: absolute;
    content: '';
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 5px;
    height: 5px;
    border-top: 1px solid #2A2C1F;
    border-right: 1px solid #2A2C1F;
  }
}

.text {
  position: relative;
  z-index: 2;
  &__subtitle {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 20px;
    font-size: 14px;
    background-color: #E7E8E3;
    border-radius: 32px;
  }
  &__title {
    font-size: 56px;
    line-height: 67px;
    margin-bottom: 21px;
  }
  &__suptitle {
    font-size: 20px;
    line-height: 30px;
    color: #65665C;
    margin-bottom: 21px;
  }
  &-advantages {
    display: flex;
    margin-top: 37px;
    margin-bottom: 30px;
  }
  &-advantage {
    &:first-child {
      margin-right: 67px;
    }
  }
}

.header-body {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #F5F5F2;
  z-index: 1;
  .header-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
    flex-grow: 1;
    &::after {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      background: url(/img/header/bg_decor.png) no-repeat;
      width: 100%;
      height: 100%;
      z-index: -1;
    }    
    &::before {
      position: absolute;
      content: '';
      right: 0;
      bottom: 0;
      transform: rotate(180deg);
      background: url(/img/header/bg_decor.png) no-repeat;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    .header-text {
      padding-right: 124px;
    }
  }
  .header-img {
    &__img {
      height: 100%;
      width: 100%;
      max-width: 720px;
    }
  }
}

.about {
  padding: 67px 0 128px 0;
  &-top {
    display: flex;
    justify-content: space-between;
    &__logo {
      display: flex;
      align-items: center;
      &-item:not(:last-child) {
        margin-right: 32px;
      }
    }
  }
  &-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
      font-weight: 700;
      font-size: 48px;
      text-align: center;
      line-height: 58px;
      margin-top: 125px;
    }
    &__suptitle {
      font-size: 18px;
      text-align: center;
      line-height: 27px;
      color: #65665C;
      margin-top: 21px;
    }
  }
}

.cards {
  display: flex;
  justify-content: space-between;
  margin: 64px -16px 0;
  .card {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #E7E8E3;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    flex-basis: 33.3%;
    padding: 49px 33px 47px 33px;
    margin: 0 16px 16px;
    &__title {
      text-align: center;
      font-weight: 700;
      font-size: 24px;
      line-height: 34px;
      margin-top: 24px;
    }
    &__text {      
      font-size: 16px;
      text-align: center;
      line-height: 24px;
      margin-top: 17px;
    }
  }
}

.house {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 128px;
  &-body {
    padding-right: 160px;
    flex-basis: 50%;
  }
  &-img {
    flex-basis: 50%;
    flex: 0 1 auto;
  }
  &:nth-child(even) {
    flex-direction: row-reverse;
    .text {
      padding-right: 0;
      padding-left: 80px;
    }
  }
}

.announcements {
  padding: 128px 0 160px 0;
  position: relative;
  background-color: #F5F5F2;
  &::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    background: url(/img/header/bg_decor.png) no-repeat;
    width: 100%;
    height: 100%;
    z-index: 1;
  }    
  &::before {
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
    background: url(/img/header/bg_decor.png) no-repeat;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  &-title {
    text-align: center;
    margin-bottom: 80px;
  }
  &-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -16px 48px -16px;
  }
  .links {
    text-align: center;
  }
}

.announcement {
  display: flex;
  flex-direction: column;
  flex: 1 1 30%;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  overflow: hidden;
  margin: 0 16px 32px 16px;
  &__img {
    img {
      width: 100%;
    }
  }
  &__content {
    padding: 24px;
    max-width: 405px;
    &-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 3px;
    }
    &-price {
      font-weight: 700;
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 16px;
    }
    &-place {
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #65665C;
      margin-bottom: 16px;
      img {
        padding-right: 10px;
      }
    }
  }
  &__facilities {
    display: flex;
  }
  &__facility {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }
}

.locations {
  background-color: #F5F5F2;
  padding-bottom: 128px;
  &-title {
    text-align: center;
    margin-bottom: 80px;
    .text__subtitle {
      background-color: transparent;
      font-size: 18px;
      line-height: 27px;;
    }
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 80px-12px;
    .card {
      background-color: #fff;
      border: 1px solid #E7E8E3;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
      border-radius: 16px;
      max-width: 416px;
      width: 100%;
      padding: 33px;
      margin-bottom: 16px;
      &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 12px;
      }
      .link {
        margin: 0;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  .links {
    text-align: center;
  }
}

.priority {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 233px;
    background-color: #F5F5F2;
    z-index: 1;
  }
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #65665C;
    color: #ffffff;
    border-radius: 24px;
    padding: 96px 256px;
    z-index: 2;
  }
  &-title {
    text-align: center;
    padding: 0;
    .text__subtitle {
      background-color: transparent;
      font-size: 18px;
      line-height: 27px;
      color: #E7E8E3;
    }
  }
  .text {
    padding: 0;
  }
  .btn {
    border: none;
    padding: 13px 25px;
  }
}

.reviews {
  padding: 157px 0 160px 0;
  &-title {
    text-align: center;
    margin-bottom: 80px;
  }
  .card {
    align-items: flex-start;
    &__rate {
      margin-bottom: 27px;
    }
    &__text {
      text-align: left;
      margin-bottom: 27px;
      margin-top: 0;
    }
    &__people {
      display: flex;
      &-img {
        margin-right: 16px;
      }
      &-name {        
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
      }
      &-prof {
        font-size: 16px;
        line-height: 24px;
        color: #65665C;
      }
    }
  }
}

.posts {
  background-color: #F5F5F2;
  &__content {
    padding: 127px 0 48px 0;

  }
  &-title {
    .text {
      &__subtitle {
        margin-bottom: 21px;
      }
      &__title {
        margin-bottom: 29px;
      }
    }
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 77px;
    &-text {
      max-width: 710px;
    }
  }
  &__announcements {
    .announcement {
      justify-content: space-between;
      &__content { 
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        &-head {
          display: flex;
          align-items: center;
          margin-bottom: 16px;
          time {
            font-size: 14px;
            line-height: 21px;
            color: #65665C;
          }
        }
        &-tag {
          font-size: 14px;
          line-height: 21px;
          padding: 4px 8px;
          background-color: #FAE8E1;
          border-radius: 32px;
          margin-right: 16px;
        }    
        &-subtitle {
          margin-bottom: 31px;
        }
      }
      .link {
        align-self: flex-start;
        margin-bottom: 24px;
      }
    }
  }
}

.footer {
  &-top {
    &__content {
      display: flex;
      justify-content: space-between;
      margin: 64px 0;
    }
    .logo {
      flex-basis: 25%;
      flex: 0 1 auto;
    }
    &__links {
      display: flex;
      justify-content: space-between;
      flex-basis: 33%;
      div {
        &:not(:last-child) {
          margin-right: 32px;
        }
        &last-child {
          margin-right: 128px;
        }
      ul {
        li {
            margin-bottom: 16px;          
            font-size: 14px;
            line-height: 21px;
          }        
        }
      }
      &-title {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 16px;
      }
    }
    &__subs {
      flex-basis: 33%;
      &-title {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        margin-bottom: 10px;
      }
      &-subtitle {
        font-size: 16px;
        line-height: 24px;
        color: #65665C;
        margin-bottom: 14px;
      }
      .search {
        margin-bottom: 16px;
        &__input {
          font-size: 16px;
          line-height: 24px;
          padding: 12px 56px 12px 14px;
          margin-right: 16px;
        }
        .btn {
          font-size: 16px;
          padding: 16px 28px;
        }
      }
      &-under {
        display: flex;
        font-size: 12px;
        line-height: 18px;
        color: #65665C;
        p {
          margin-right: 12px;
        }
      }
    }
  }
  &-bottom {
    background-color: #F5F5F2;
    padding: 24px 144px;
    margin-bottom: 20px;
    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__rights {
    display: flex;
    font-size: 14px;
    line-height: 21px;
    color: #65665C;
    a {
      margin-left: 11px;
    }
  }
  &__social {
    a:not(:last-child) {
      margin-right: 12px;
    }
  }
}